@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: Estedad;
  src: url(../fonts/Estedad-Regular.ttf);
}

@theme {
  --font-Estedad: Estedad;
  --breakpoint-desktop: 1000px;
  --breakpoint-mobile: 340px;
}
.header-container{
  background-image: url(https://i.pinimg.com/1200x/ea/ee/80/eaee80661a66618094a1188bccaa9f9f.jpg);
}

